@charset "utf-8";
/* CSS Document */

body{
	margin: auto;
}
#header {
	width:1000px;
	height: 94px;
	margin:auto;
}
ul{
	list-style: none;
}
li{
	display:inline;
	float:left;
}
#border{
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #009900;
	margin: auto;
}
.right {
	position: relative;
	left: 500px;
	top: -68px;
	width: 377px;
	height: 95px;
}
#logo {
	position:relative;
	top:8px;
	width:198px;
}
.right #role {
	position:relative;
	margin-top: 15px;
}
.right #name{
	position: relative;
	margin-left: 70px;
	margin-top: 15px;
	top: -32px;
	width: 50px;
	font-family:宋体;
	font-size: 12px;
	font-weight: 700;
	color: #FFF
}
.right .tool{
	position: relative;
	left: 100px;
	top: -46px;
	margin-left: 37px;
}

.right #message{
	padding:2px;
}
.right ul{
	position: relative;
	left: 95px;
	top: -62px;
}
.right li{
	width:55px;
}

.nav{
	width: 1000px;
	height: 39px;
	margin: auto;
	background-image:url(../images/nav.png);
	border: 1px solid #FFFFFF;
}
.nav img{
	padding-left: 138px;
padding-top: 12px;
}


.nav ul{
	list-style-type: none;
	margin-top: -20px;
	margin-left: -43px;
}
.nav li{
	position:relative;
	top:10px;
}
.nav li a{
	display:block;
	text-align:center;
	width:175px;
	font-family:微软雅黑;
	font-size:15px;
	color:#333333;
}
.nav #choose{
	color:#006600;
}
.nav span{
	position: relative;
	top: 8px;
	left:46px;
	font-family:微软雅黑;
	font-size:15px;
	color:#333333;
	text-align: center;
}
.nav #span2{
	left: 150px;
}
.nav #span3{
	left: 230px;
}
.nav #span4{
	left: 310px;
}
.nav .spanother{
	width: 176px;
}
.content{
	position: relative;
	width: 1000px;
	height: 632px;
	margin: 16px auto 0px auto;
	background-color: #F4F4F4;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.content #titlediv{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	width: 977px;
	height: 30px;
	background-color: #ffffff;
}
.content #titlediv #title{  
	position: relative;
	left: 12px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #009900;
}
.content #hint{
	position: relative;
	background-image: url(../images/flag-background.png);
	top: 20px;
	left: 12px;
	width: 978px;
	height: 32px;
}
.content #icon{
	position:relative;
	left:12px;
	top:6px;
	margin-top:auto;
}
#hint p{
	display: inline;
	position: relative;
	margin-left: 20px;
	top: 6px;
}
.content #filename{
	position: relative;
	top: 25px;
	left: 46px;
	font-family: 微软雅黑;
	font-size: 15px;
	color: #333333;
}
.content #progress{
	width: 750px;
	height: 32px;
	position: relative;
	top: 28px;
	left: 43px;
	/*background-color: #33CC00;*/
}

.content #progress #progressvalue{
	position: relative;
	top: -5px;
	font-family: 微软雅黑;
	font-size: 30px;
	color: #999999;
}
.content #cancel{
	position: relative;
	/*top: 21px;*/
	left: 890px;
	width:80px;
	height:14px;
}
.content #uploadinfo{
	position: relative;
	top: 10px;
	width: 648px;
	height: 14px;
}
.content #uploadinfo ul{
	height: 14px;
	margin-left: -15px;
}
.content #uploadinfo li{
	width: 150px;
	margin-left: 20px;
	font-family: 宋体;
	font-size: 12px;
	color: #909090;
}

.content #uploadinfo span{
	position: relative;
	left: -55px;
	margin-left: 100px;
	margin-top: 10px;
	font-family: 宋体;
	font-size: 12px;
	color: #909090;
}

.content #uploadinfo #tooldiv{
	margin-top: 10px;
}

.content #docinfo{
	position:relative;
	top:4px;
	left:9px;
	font-family:微软雅黑;
	font-size:14px;
	color:#009900;
}
.content #formdiv{
	position: relative;
	top: 12px;
	left: 13px;
	width:977px;
	height: 334px;
	background-color: #FFFFFF;
}
.content form{
	position:relative;
	top:17px;
	left:22px;
	width:580px;
	font-family:宋体;
	font-size:12px;
	color:#666666;
	/*background-image: url(../images/form-background.png);*/
}
.contcent form label{
	font-family:宋体;
	font-size:12px;
	color:#666666;
}

.content form #category{
	width:110px;
}
.content form .small{
	width: 110px;
margin-top: 16px;
}

.content form #intro{
	width: 530px;
	height: 40px;
	margin-top: 16px;
}

.content form .line{
	margin-left:24px;
}
.content form #section{
	width:215px;
	margin-left: 24px;
}
.content form #tags{
	width:534px;
	height: 20px;
}
.content form #tags_tagsinput{
	margin-left: 40px;
	margin-top: -16px;
}
.content form p label div a{
	background-color: #FF6600;
	color:#FFFFFF;
}

.content form p label div span{
	background-color: #FFE3BA;
	color: #666666;
}
.content form #accomendent{
	margin-left: 40px;
}
.content form .waitTags{
	margin-left: 25px;
}
.content form #certainsave{
	position: relative;
	top: 40px;
	left: 36px;
}
.content #coverinfo{
	position: relative;
	left: 602px;
	top: -290px;
	height: 334px;
	width: 384px;
}

.content #coverinfo label{
	margin-left: 36px;
}
.content #coverinfo img{
	width: 220px;
	height: 155px;
	margin-left: 97px;
}

.content #coverinfo .underline{
	margin-left: 97px;
	margin-top: 15px;
}

.footer{
	width: auto;
	height: 89px;
	margin-top: 12px;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	background-color: #DADADA;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #4E4D4B;
}

.footer #firstline{
	width: 550px;
	margin: 24px auto;
}

.footer #QQ{
	position: relative;
	top: 4px;
	border:none;
}
.footer #secondline{
	position: relative;
	left: -25px;
	bottom: 10px;
	width: 500px;
	margin: 0 auto;
}